<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src="/bundle3.js" type="text/javascript"></script>  -->
    <script>
    // window.onload=function(){
    // 	//var fanscount=exports.fanscount ();
    // 	setInterval(
    //                         function() { 
    // var a=exports.fanscount(1,2);
    // console.log(a);}, 6000);    
    // console.log("123333333333");}
    // var m = require('/test.js');
    // console.log(m(1,2));

    </script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>

  </body>
</html>