<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>收索明星</title>
</head>
<body>
    <div  style="padding:10px">
        <form  action="/fans" method="post" >
        明星姓名:<input type="text" name="name"/><br/>
          <input type="submit" value="收索"/>
        </form>
    </div>
</body>
</html>